{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}
 
        {{ content }}
           
    {% include footer.html %}
    
    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <!-- Javascript files -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ site.baseurl }}/js/all.min.js"></script>

    <script src="{{ site.baseurl }}/assets/js/jquery-1.11.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="{{ site.baseurl }}/assets/js/imagesloaded.pkgd.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.shuffle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.fitvids.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.sticky.js"></script>
    <script src="{{ site.baseurl }}/assets/js/smoothscroll.js"></script>
    <script src="{{ site.baseurl }}/assets/js/wow.min.js"></script>

    <!-- Youtube background -->
    <script src="{{ site.baseurl }}/assets/js/jquery.mb.YTPlayer.js"></script> 

    <!--PARTICLES ANIMATE JS-->
    <script src="{{ site.baseurl }}/assets/js/particles.js"></script>  
    <script src="{{ site.baseurl }}/assets/js/particles.app.js"></script> 
    
    <!-- Custom scripts -->
    <!--<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
    <script src="{{ site.baseurl }}/assets/js/custom-shuffle-init.js"></script>-->

</body>
</html>
